.clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background-color: #000000;
    border:'3px solid #808080'
}
.clock-time{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF
}