h1 {
    position: relative;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: #333;
    padding: 20px 0;
}
h1::before, h1::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: #3498db;
}

h1::before {
    left: 0;
}

h1::after {
    right: 0;
}