<!-- Home.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Login Authentication</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="overflow-hidden h-screen p-8 bg-slate-200">
        <header class="absolute inset-x-0 
                                top-0 z-50">
            <nav class="flex items-center p-6 lg:px-8" 
                 aria-label="Global">
                <div class="flex lg:flex-1 text-blue-800 text-xl">
                    <a className=" border-collapse text-blue-800 text-xl" 
                       href="/">
                        Home
                    </a>
                </div>
            </nav>
        </header>
        <% if (name) { %>
        <div class="pt-10">
            <h1 class="text-4xl font-bold tracking-tight 
                       text-gray-900 sm:text-6xl">
                Welcome <%= name %>
            </h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                You're Successfully Authenticated
            </p>
            <div class="mt-10 flex gap-x-6">
                <a href="/api/logout" 
                   class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm 
                          font-semibold text-white shadow-sm hover:bg-indigo-500 
                          focus-visible:outline focus-visible:outline-2 
                          focus-visible:outline-offset-2 
                          focus-visible:outline-indigo-600">
                    Logout
                </a>
            </div>

            <% } else { %>
            <div class="pt-4 mt-2">
                <h1 class="text-sm font-bold tracking-tight 
                           text-gray-900 sm:text-6xl">
                    Invalid User
                </h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                    You're Not Authenticated please Login
                </p>
                <div class="mt-10 flex gap-x-6">
                    <a href="/login" 
                       class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm
                              font-semibold text-white shadow-sm 
                              hover:bg-indigo-500 focus-visible:outline 
                              focus-visible:outline-2 focus-visible:outline-offset-2 
                              focus-visible:outline-indigo-600">
                        Login
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

</html>
