<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
     {{> navbar data=data}}
     <div id="contact_us_section" class="container">

     </div>
    <h1>Work in Progress for Contact Us</h1>
</body>
</html>